@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Fuzzy+Bubbles&family=Itim&family=Josefin+Sans&family=Kanit&family=Mitr&family=Oswald&display=swap');

:root {
    --box-shadow:0 1px 3px rgba(0,0,0,0.12)
}

*{
    box-sizing: border-box;
}

body {
    font-family: 'Itim', cursive;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}


.container {
    margin: 30px auto;
    width: 350px;

}

h1 {
    letter-spacing: 1px;
    margin: 0;
}

h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

h4 {
    margin: 0;
}

.income-expense-container {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    margin: 20px 0;
}

.income-expense-container>div{
    flex: 1;
    text-align: center;
}

.income-expense-container>div:first-of-type{
    border-right: 1px solid #dedede;
}

.money.plus {
    color: green;
}

.money.minus {
    color: red;
}

label {
    display: inline-block;
    margin: 10px 0;
}

input[type="text"],input[type="number"]{
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.btn {
    font-family: 'Itim', cursive;
    background-color: green;
    color: white;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    display: block;
    margin: 10px 0 30px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}
